<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/static/styles/profile/lk.css">
</head>

<body>
    {% extends 'other/base.html' %}
     {% block content %}
     <div class="user-info">
        <div class="userform-container">
            <div class="userform-background">
                <div class="background-user-photo">
                    <img class="user-photo" src="/static/img/photos/{{ current_user.photo_url }}">
                </div>

                <div class="userform-info">
                    <div class="userform-info-background">
                        <p class="p-userform">{{ current_user.name }}</p>
                        <p class="p-userform">{{ current_user.surname }}</p>
                        <p class="p-userform">{{ current_user.email }}</p>
                        <p class="p-userform">{{ current_user.phone }}</p>
                        <p class="p-userform"> <a href="{{ url_for('profile.userform_page') }}"> Изменить данные </a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-balance">
            <div class="background-balance">
                <p class="p-balance"> ВАШ БАЛАНС</p>
                <p class="p-balance"> {{ current_user.balance }} рублей</p>
                <p class="p-balance"> <a href=""> Пополнить </a></p>
                <p class="p-balance"> <a href="{{ url_for('auth.logout') }}">выйти </a> </p>
            </div>
        </div>
     </div>
     <div class="all-history">
        <div class="h-aboniments">
            <h1> История абонементов</h1><br>
            {% for subscription in subscriptions %}
            <div class="one-aboniment">
                <div class="circle-services">
                    <img class="service-img" src="/static/img/services-photo/{{ subscription.service_photo_url }}">
                </div>
                <div class="title-aboniment">
                    <p class="p-title-aboniment"> {{ subscription.name }} </p>
                </div>
                <div class="date-aboniment">
                    <p class="p-date-aboniment"> {{ subscription.date_start}} - {{ subscription.date_end}}  </p>
                </div>
                <div class="price-aboniment">
                    <p class="p-price-aboniment"> {{ subscription.price }}</p>
                </div>
                {% endfor %}
            </div>



        </div>

        <div class="h-activities">
            <h1> История занятий</h1><br>
            {% for activity in sports_activities %}
            <div class="one-activity">
                <div class="circle-services">
                    <img class="service-img" src="/static/img/services-photo/{{ activity.service_photo_url }}">
                </div>
                <div class="title-activity">
                    <p class="p-title-activity"> {{ activity.service_name }} </p>
                </div>
                <div class="price-activity">
                    <p class="p-price-activity"> {{ activity.price }} руб. </p>
                </div>
                <div class="date-activity">
                    <p class="p-date-activity"> {{ activity.date }} </p>
                </div>
            </div>
            {% endfor %}
        </div>
     </div>
    {% endblock %}

</body>

</html>