<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/auth/userform.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>main</title>
</head>

<body>

    {% extends 'base.html' %}
     {% block content %}
    <div class="square">
        <div class="label">Анкета</div>
        <div class="label1" name="flash">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>


        <form class="pole"  method="post" enctype="multipart/form-data">
            <div class="form-field">
                <label for="file-upload" class="upload-button">Добавить фотографию</label>
                <input type="file" id="file-upload" accept="image/*">
            </div>
            <div class="form-field">
                <input type="text" placeholder="Имя" id="name" name="name" class="input-field" value="{{ user.name or '' }}">
            </div>
            <div class="form-field">
                <input type="text" placeholder="Фамилия" id="surname" name="surname" class="input-field" value="{{ user.surname or ''}}">
            </div>
            <div class="form-field">

                <input type="Email" placeholder="E-mail" id="email" name="email" class="input-field" value="{{ user.email or ''}}">
            </div>
            <div class="form-field">
                <input type="Text" placeholder="Телефон" id="phone" name="phone" class="input-field" value="{{ user.phone or '' }}">
            </div>
            <input type="submit" class="button" value="Продолжить">
            <div class="form-field"></div>
        </form>
    </div>
    {% endblock %}
</body>

</html>