<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/startpages/info.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>main</title>
</head>

<body>

    {% extends 'other/base.html' %}
    {% block content %}
    <div class="centered-block">
        <img src="/static//img/other-photos/background.jpg" alt="Картинка" class="foto">
        <div class="centered-content">
            <img src="/static/img/other-photos/football.png" alt="" class="football">
            <div class="text2">Лазурный<p>Лазурный спорткомплекс — зарядись энергией лета!</p>
            </div>
            <a href="#" class="button-review">Отзывы</a>
            <a href="#" class="button-contact">Контакты</a>
        </div>
    </div>
        <div class="block-history">
            <div class="info">
                <div class="text3">История спорткомплекса «Лазурный» началась в далёком 1967 году, когда в центре города Кемерово был построен старый бассейн.
                    В 2005 году бассейн был капитально отремонтирован и модернизирован, после чего открылся как спорткомплекс «Лазурный».
                    В 2007 году в нём появился теннисный центр, состоящий из четырёх полноразмерных теннисных кортов и двух кортов под открытым небом.
                </div>
            </div>
        </div>
        {% endblock %}
</body>

</html>