<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/startpages/services.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>main</title>
</head>

<body>

    {% extends 'other/base.html' %}
    {% block content %}
    <div class="centered-block">
        <div class="centered-content">
            <img src="/static/img/services-photo/football-pole.png" alt="Картинка" class="foto">
            <div class="text-sport">Футбольное поле</div>
                <a href="#" class="button-sign-up">Записаться</a>
        </div>
    </div>

    {% endblock %}
</body>

</html>