<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/services/services_subscription.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>main</title>
</head>

<body>

    {% extends 'other/base.html' %}
    {% block content %}
        <div class="centered-block">
            <div class="centered-content">
                <img src="/static/img/services-photo/{{ service.photo_url }}" alt="Картинка" class="foto">

                <select id="dateSelect" class="date-select">
                    <option value="">-- Выберите дату --</option>
                    {% for date in dates %}
                     <option value="{{ date }}">{{ date }}</option>
                {% endfor %}
                </select>

                <select id="timeSelect" class="time-select">
                    <option value="">-- Выберите время --</option>
                    {% for date in dates %}
                     <option value="{{ time }}">{{ time }}</option>
                {% endfor %}
                </select>

                <select id="roomSelect" class="room-select">
                    <option value="">-- Выберите зал --</option>
                    {% for date in dates %}
                     <option value="{{ int }}">{{ int }}</option>
                {% endfor %}
                </select>

                <a href="#" class="button-sign-up">Записаться</a>
            <a href="{{ url_for('services.services_page') }}">обратно</a>
            </div>


        </div>

    {% endblock %}
</body>

</html>