<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>main</title>
</head>
<body>
    {% block header %}

    <header class="header">
        <div class="logo"><a href="{{ url_for('start_page') }}"> ЛАЗУРНЫЙ</a></div>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Список услуг</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Личный кабинет</a></li>
        </ul>
        <div class="phone">+7 000 000 00 00</div>
    </header>
    {% endblock %}

    <div class="content"> {% block content %} {% endblock %} </div>

    {% block footer %}
    {% if page_type != 'auth' %}
    <footer>
    <div class="reklama">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="reklamaText"> Запишитесь на БЕСПЛАТНУЮ тренеровку<p>Акция действительна до 10 марта 2025 года</p></div>
    <form action="zayavka" method="post">
        <div class="form-field">
            <input type="text" placeholder="Имя" id="text" name="password" class="input-field-base" value="">
        </div>
        <div class="form-field">
            <input type="password" placeholder="Пароль" id="password" name="password" class="input-field-base" value="">
        </div>
        <div class="form-field">
            <input type="E-mail" placeholder="Почта" id="E-mail" name="password" class="input-field-base" value="">
        </div>
        <button class="button-base" type="submit">Отправить</button>
    </form>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
    <div class="footer">
        <section>
            <div class="logo">Спорткомплекс "Лазурный"<p>© Лазурный</p></div>
        </section>
        <section>
            <div class="phone">+7 000 000 00 00</div>
        </section>
    </div>
    </footer>


    {% endif %}
    {% endblock %}
</body>
</html>