<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/auth/auth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>Login</title>
</head>

<body>
    {% extends 'base.html' %}
     {% block content %}
    <div class="square">
        <div class="label">Введите код</div>
        <div class="label1" name="flash">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>
        <form method="post">
            <div class="form-field">
                <input type="text" placeholder="Код" id="login" name="login" class="input-field" value="">
            </div>
            <input type="submit" class="button" value="Подтвердить">
        </form>
    </div>
    {% endblock %}
</body>

</html>