<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/info.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>main</title>
</head>

<body>

    <header class="header">
        <div class="logo">ЛАЗУРНЫЙ</div>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Список услуг</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Личный кабинет</a></li>
        </ul>
        <div class="phone">+7 000 000 00 00</div>
    </header>
    <div class="centered-block">
        <img src="./img/i 2.jpg" alt="Картинка" class="foto">
        <div class="centered-content">
            <img src="./img/football.png" alt="" class="football">
            <img src="./img/watermelon.png" alt="" class="watermelon">
            <div class="text2">Лазурный<p>Лазурный спорткомплекс — зарядись энергией лета!</p>
            </div>
            <a href="./anketa.html" class="button1">Отзовы</a>
            <a href="./anketa.html" class="button2">Контакты</a>
        </div>
    </div>
        <div class="info1">
            <div class="info">
                <div class="text3">История спорткомплекса «Лазурный» началась в далёком 1967 году, когда в центре города Кемерово был построен старый бассейн.
                    В 2005 году бассейн был капитально отремонтирован и модернизирован, после чего открылся как спорткомплекс «Лазурный».
                    В 2007 году в нём появился теннисный центр, состоящий из четырёх полноразмерных теннисных кортов и двух кортов под открытым небом.
                </div>
            </div>
        </div>
        <footer>
            <footer class="reklama">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="reklamaText"> Запишитесь на БЕСПЛАТНУЮ тренеровку<p>Акция действительна до 10 марта 2025
                        года
                    </p>
                </div>
                <form action="zayavka" method="post">
                    <div class="form-field">
                        <input type="password" placeholder="Имя" id="text" name="password" class="input-field" value="">
                    </div>
                    <div class="form-field">
                        <input type="password" placeholder="Пароль" id="password" name="password" class="input-field"
                            value="">
                    </div>
                    <div class="form-field">
                        <input type="E-mail" placeholder="Почта" id="E-mail" name="password" class="input-field"
                            value="">
                    </div>
                    <button class="button" type="submit">Отправить</button>
                </form>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </footer>
            <footer class="footer">
                <section>
                    <div class="logo">Спорткомплекс "Лазурный"<p>© Лазурный</p>
                    </div>
                </section>
                <section>
                    <div class="phone">+7 000 000 00 00</div>
                </section>
            </footer>
        </footer>
</body>

</html>