<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/static/styles/lk.css">
</head>
<body>
<div class="title">
    <div class="head">
        <div class="foto">
            <button class="button" type="submit">Добавить фото</button>
            <input name="myFile" type="file" class="addfile">
        </div>

        <div class="FIO">
            <p class="name">zzz</p>
            <p class="surname">ooo</p>
            <p class="mail">vvv</p>
        </div>

        <div class="cash">
            <p>БАЛАНС</p>
            <li><a href="#">Пополнить</a></li>
        </div>

        <div class="foot">
            z
        </div>
    </div>
</body>
</html>