
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    font-family: "Open Sans", sans-serif;
    min-height: 100%;
    position: relative;
}


.header {
    background-color: #4660C5;
    color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}
.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header li {
    margin-right: 20px;
}
.header a {
    color: #fff;
    text-decoration: none;
}
.header a:hover {
    color: #ff2f2f;
}
.header .phone {
    font-size: 18px;
    margin-left: 20px;
}

.footer {
    background-color: #4660C5;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content{
    min-height: 100vh;
    height: 100%;
}