* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#435278, #E8E8E8);
    font-family: Arial, sans-serif;
    font-family: "Open Sans", sans-serif;
}