<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/auth/forgot_password.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>main</title>
</head>

<body>

    {% extends 'base.html' %}
    {% block content %}
    <div class="square">
        <div class="label">Авторизация</div>
        <div class="label1" name="flash">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </div>
        <form action="login" method="post">
            <div class="form-field">
                <input type="password" placeholder="новый пароль" id="password" name="password" class="input-field" value="">
            </div>
            <div class="form-field">
                <input type="password" placeholder="подтвердите новый пароль" id="password2" name="password2" class="input-field" value="">
            </div>
            <button class="button" type="submit">Изменить</button>
            <div class="form-field"></div>
        </form>
    </div>
    {% endblock %}
</body>

</html>