
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    font-family: "Open Sans", sans-serif;
    background-image: url('/static/img/background.jpg');
}


.square {
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.label {
    font-size: 24px;
    font-weight: bold;
    color: #4660C5;
    text-align: center;
    margin-bottom: 20px;
}

.label1 {
    font-size: 14px;
    font-weight: bold;
    color: #f53939;
    text-align: center;
    margin-bottom: 20px;
}


.form-field {
    margin-bottom: 20px;
}
.input-field {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #eeeded;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input-field:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.button {
    background-color: #4660C5;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.button:hover {
    background-color: #4660C5;
}


.forgot-password {
    font-size: 14px;
    color: #6d8fec;
    text-decoration: none;
    float: right;
}



.registration {
    font-size: 14px;
    color: #6d8fec;
    text-decoration: none;
    float: right;
}

.forgot-password:hover {
    color: #333;
}