

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    font-family: Arial, sans-serif;
    font-family: "Open Sans", sans-serif;
}

.centered-block{
    display: grid;
    padding: 40px;
    gap: 30px 0px;
    background: linear-gradient(#4660C5, #ababab);
    justify-content: center;
    align-content: start;
    justify-items: center;
    align-items: start;

}

.centered-content{
    position: relative;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
    width: 1200px;
    height: 800px;
    background-color: #489cfd;
    background-position: center;
    border-radius: 20px;
}

.foto{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 450px;
    border-radius: 50px;
}

.button-sign-up {
    text-align: center;
    position: absolute;
    background-color: #ca2c2c;
    color: #fff;
    padding: 15px 30px;
    width: 200px;
    top: 82%;
    left: 76%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.date-select{
    position: absolute;
    width: 170px; /* Ширина элемента */
  padding: 10px; /* Внутренние отступы */
  border: 1px solid #ccc; /* Цвет и толщина границы */
  border-radius: 5px; /* Скругление углов */
  background-color: #f9f9f9; /* Цвет фона */
  font-size: 16px; /* Размер шрифта */
  color: #333; /* Цвет текста */
  appearance: none; /* Убирает стандартный стиль */
    top: 80%;
    left: 19%;
}
.date-select:focus {
  border-color: #007bff; /* Цвет границы при фокусе */
  outline: none; /* Убирает стандартную обводку при фокусе */
}

.date-select:hover {
  background-color: #e9e9e9; /* Цвет фона при наведении */
}

.time-select{
position: absolute;
    width: 180px; /* Ширина элемента */
  padding: 10px; /* Внутренние отступы */
  border: 1px solid #ccc; /* Цвет и толщина границы */
  border-radius: 5px; /* Скругление углов */
  background-color: #f9f9f9; /* Цвет фона */
  font-size: 16px; /* Размер шрифта */
  color: #333; /* Цвет текста */
  appearance: none; /* Убирает стандартный стиль */
    top: 80%;
    left: 35%;
}

.time-select:focus {
  border-color: #007bff; /* Цвет границы при фокусе */
  outline: none; /* Убирает стандартную обводку при фокусе */
}

.time-select:hover {
  background-color: #e9e9e9; /* Цвет фона при наведении */
}

.room-select{
position: absolute;
    width: 170px; /* Ширина элемента */
  padding: 10px; /* Внутренние отступы */
  border: 1px solid #ccc; /* Цвет и толщина границы */
  border-radius: 5px; /* Скругление углов */
  background-color: #f9f9f9; /* Цвет фона */
  font-size: 16px; /* Размер шрифта */
  color: #333; /* Цвет текста */
  appearance: none; /* Убирает стандартный стиль */
    top: 80%;
    left: 52%;
}
.room-select:focus {
  border-color: #007bff; /* Цвет границы при фокусе */
  outline: none; /* Убирает стандартную обводку при фокусе */
}

.room-select:hover {
  background-color: #e9e9e9; /* Цвет фона при наведении */
}

.price-price{
    position: absolute;
    width: 200px;
    top: 75%;
    left: 68%;
    font-size: 25px;
}

.button-back{
    position: absolute;
    text-align: center;
    position: absolute;
    background-color: #489cfd;
    border: 2px solid #0038c4;
    color: #fff;
    padding: 15px 30px;
    top: 5%;
    left: 6.5%;
    width: 130px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}